<h3>Add a Recipe</h3>

<% form_for @recipe, url_for(:recipes, :create) do |f| %>

  <% field_set_tag do %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :preparation_time %>
    <%= f.text_field :preparation_time %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :cooking_time %>
    <%= f.text_field :cooking_time %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :serves %>
    <%= f.text_field :serves %>
  <% end %>

  <% f.fields_for :ingredient_recipes do | ingredient_fields| %>
    <% ingredient_fields.fields_for :ingredient do |nested_ingredient_fields| %>
      <h3>Ingredient</h3>
    <% field_set_tag do %>
      <%= ingredient_fields.label :qty %>
      <%= ingredient_fields.text_field :qty %>
    <% end %>
    <% field_set_tag do %>
      <%= nested_ingredient_fields.label :name %>
      <%= nested_ingredient_fields.text_field :name %>
    <% end %>
    <% field_set_tag do %>
      <%= nested_ingredient_fields.label :image_url %>
      <%= nested_ingredient_fields.text_field :image_url %>
    <% end %>
    <% field_set_tag do %>
      <%= nested_ingredient_fields.label :description %>
      <%= nested_ingredient_fields.text_field :description %>
    <% end %>
  <% end %>
  <% end %>

  <%= f.submit "Create Recipe" %>

<% end %>
